// Fonts
$base-font: 'Proxima Nova', 'Arial', sans-serif;
$base-font-size: 16px;

$primary-color: #0f1323;
$grey-color: #3e4049;
$blue-color: #4080f4;
$green-color: #58d290;

$vk-color: #4a76a8;
$fb-color: #3b5998;
$in-color: #007cb7;
$tg-color: #229ace;